<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_169</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
